.app__laurels {
    position: relative;
}

.app__laurels-overlay {
    position: absolute;
    inset: 0;
}

.laurels__heading {
    font-family: var(--font-base);
    font-size: 23px;
    color: var(--color-white);
    margin-bottom: 10px;

}

.laurels__subheading{
    font-family: var(--font-base);
    font-size: 64px;
    color: var(--color-golden);
    margin-top: 10px;
}

.app__laurels-logo {
    position: absolute;
    width: 146px;
    margin:55px 0 0 63px;
}

.app__laurels-wrapper {
    padding: 200px;
    display: flex;
    justify-content: center;
}

.app__laurels-g {
    width: 555px;
}

.laurels__awards-wrapp {
    margin-top: 64px;
}

.laurels__awards-items {
    display: flex;
}

.app__laurels-g {
    height: 691px;
}

.laurels__award-image {
    width: 79px;
    height: 79px;
    margin-right: 32px;
}

.laurels__label {
    color: var(--color-golden);
    font-size: 23px;
    font-family: var(--font-base);
}

.laurels__title {
    color: var(--color-white);
    font-size: 16px;
    font-family: var(--font-alt);
    line-height: 175%;
    margin-top: 8px;
    max-width: 190px;
}

.laurels__describtion {
    margin-bottom: 64px;
}

.laurels__awards-wrapp {
    max-width: 650px;
}

.laurels__awards-items {
    display: flex;
    flex-wrap: wrap;
}

/* @media screen and (max-width: 1150px) {
    .app__wrapper {
      flex-direction: column;
    }
  
    .app__wrapper_img {
      margin: 5rem 0 0 0;
    }
  
    .app__wrapper_img-reverse {
      margin: 0 0 5rem 0;
    }
  
    .app__wrapper_img img {
      width: 100%;
    }
  } */
  
  @media screen and (max-width: 884px) {
    .app__laurels-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 10%;
      margin: 0 auto;
    }

    .app__laurels-logo {
        display: none;
    }

    .app__laurels-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .laurels__awards-items {
        margin: 0 auto;
    }

    .app__laurels-g {
        width: 445px;
        height: 554.05px;
    }

    .app_laurels-top {
        text-align: center;
    }

    
  }
  
  @media screen and (max-width: 650px) {
    .laurels__awards-wrapp {
        width: 100%;
    }

    .app__laurels-g {
        width: 376.69px;;
        height: 469px;
        padding: 20px;
    }
  }
  
  @media screen and (max-width: 450px) {
   
    }
  